* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background: #111;
	font-family: "Roboto",sans-serif;
}
section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
section img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	object-fit: cover;
}
section h2 {
	position: relative;
	color: #fff;
}
.screen {
	display: none;
}
.screen.active {
	display: block;
}
.app {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-left: 1px solid #111;
	border-right: 1px solid #111;

}

.join-screen .form {
	position: absolute;;
	top: 50%;

	transform: translateY(-50%);
	padding: 50px;
}
.join-screen .form .form-input {
	margin: 10px 0px;
}
.join-screen .form h2 {
	font-size: 70px;
	color: #fff;
	border-color: black;
	margin-bottom: 20px;
	line-height:75px;
	font-family: "Montserrat",sans-serif;
}
.join-screen .form button {
	background: #fff;
	color: #111;
	padding: 20px 40px;
	border: none;
	outline: none;
	font-size: 32px;
	font-weight: 600;
	border-radius: 20px;
}
.join-screen .form #join-id b {
	color: #fff;
	display: block;
	margin-top: 20px;
}
.join-screen .form #join-id span {
	display: inline-block;
	font-size: 25px;
	font-family: monospace;
	color: #fff;
	padding: 20px;
	border: 2px solid #fff;
	border-radius: 20px;
	margin-top: 5px;
}
.join-screen .form .form-input label {
	color: #222;
	font-size: 36px;
}
.join-screen .form .form-input input {
	display: block;
	font-size: 25px;
	font-family: monospace;
	color: #fff;
	padding: 20px;
	background-color: #000;
	border: 2px solid #fff;
	border-radius: 20px;
	margin-top: 5px;
}

.fs-screen {
	padding: 20px;
}
.fs-screen .file-input {
	width: 100%;
	border: 2px dashed #fff;
}
.fs-screen .file-input label {
	display: block;
	width: 100%;
	padding: 40px 50px;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
}
.fs-screen .file-input input {
	display: none;
}
.fs-screen .files-list {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
.fs-screen .files-list .title {
	position: center;
	width: 100%;
	font-size: 40px;
	color: #fff;
	margin: 20px 0px;
	line-height:75px;
	font-family: Roboto;
}
.fs-screen .files-list .item {
	width: 33%;
	min-width: 200px;
	border: 1px solid #eee;
	box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
}
.fs-screen .files-list .item .progress {
	padding: 30px;
	text-align: center;
	font-size: 50px;
	color: rgb(255, 255, 255);
	font-family: monospace;
}
.fs-screen .files-list .item .filename {
	padding: 5px;
	color: #fff;
	font-size: 18px;
	border-top: 1px solid #eee;
}